#Players {
    .players-container-label{
        h5{
            margin-top: rems(23);
            margin-left: rems(92);
        }
    }
    .players-container-players-list {
        margin-top: rems(30);
        font-size: rems(12);
        text-align: center;
        .row {
            div {
                margin-bottom: rems(18);
                cursor: pointer;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                }
            }
            img{
                width: rems(25);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .players-container-label{
            h5{
                font-size: rems(24);
            }
        }
        .players-container-players-list {
            font-size: rems(18);
            .row {
                img{
                    width: rems(75);
                }
            }
        }

    }
}