#main-sidebar{

  .sidebar{
      height: 100%;
      width: rems(300);
      position: fixed;
      top: 0;
      z-index: 1;
      background-color: $color-white;
      
      -webkit-transition: transform .7s ease-in-out;
      -moz-transition: transform .7s ease-in-out;
      -ms-transition: transform .7s ease-in-out;
      -o-transition: transform .7s ease-in-out;
      transition: transform .7s ease-in-out;
      
      -webkit-transform: translateX(rems(-400));
      -moz-transform: translateX(rems(-400));
      -ms-transform: translateX(rems(-400));
      -o-transform: translateX(rems(-400));
      transform: translateX(rems(-400));

      .top-sidebar{
        background-color:getColor(green-grass);
        height: 35%;
        .sidebar-distance{
          display: flex;
          padding-top: 90px;
          padding-left: 20px;
          .sidebar-img-circle{
            width: rems(100);
            background-color:$color-white;
            border-radius: rems(200);
            height: rems(100);
            img{
              width: rems(70);
              display: flex;
              transform: translate(20%,10%);
            }
          }
        }
        
      }
    }

    .sidebar-list{
      padding: 0;
      margin: 0;
      list-style: none;
      padding-top: rems(80);
      text-align: center;
      left:rems(100);
    }
    
    .sidebar-anchor{
      color: $color-black;
      text-decoration: none;
      font-size: rems(24);
      text-transform: uppercase;
      position: relative;
      padding-bottom: 7px;
      
      &:before {
          content: "";
          width: 0;
          height: rems(2);
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #000000;
          -webkit-transition: all .7s ease-in-out;
          -moz-transition: all .7s ease-in-out;
          -ms-transition: all .7s ease-in-out;
          -o-transition: all .7s ease-in-out;
          transition: all .7s ease-in-out;
        }

        &:hover{
          &:before{
            width: 100%;
          }
        }
    }

    .sidebar-item{
      margin: rems(30) 0;
      opacity: 0;
      -webkit-transform: translateY(rems(-20));
      -moz-transform: translateY(rems(-20));
      -ms-transform: translateY(rems(-20));
      -o-transform: translateY(rems(-20));
      transform: translateY(rems(-20));

      &:first-child {
          -webkit-transition: all .7s .2s ease-in-out;
          -moz-transition: all .7s .2s ease-in-out;
          -ms-transition: all .7s .2s ease-in-out;
          -o-transition: all .7s .2s ease-in-out;
          transition: all .7s .2s ease-in-out;
        }
        &:nth-child(2) {
          -webkit-transition: all .7s .4s ease-in-out;
          -moz-transition: all .7s .4s ease-in-out;
          -ms-transition: all .7s .4s ease-in-out;
          -o-transition: all .7s .4s ease-in-out;
          transition: all .7s .4s ease-in-out;
        }
        &:nth-child(3) {
          -webkit-transition: all .7s .6s ease-in-out;
          -moz-transition: all .7s .6s ease-in-out;
          -ms-transition: all .7s .6s ease-in-out;
          -o-transition: all .7s .6s ease-in-out;
          transition: all .7s .6s ease-in-out;
        }
        &:last-child {
          -webkit-transition: all .7s .8s ease-in-out;
          -moz-transition: all .7s .8s ease-in-out;
          -ms-transition: all .7s .8s ease-in-out;
          -o-transition: all .7s .8s ease-in-out;
          transition: all .7s .6s ease-in-out;
        }
        &.active {
          opacity: 1;
          -webkit-transform: translateY(rems(0));
          -moz-transform: translateY(rems(0));
          -ms-transform: translateY(rems(0));
          -o-transform: translateY(rems(0));
          transform: translateY(rems(0));
        }
     
    }

    .bar {
      display: block;
      height: rems(4);
      width: rems(30);
      background-color: $color-grey;
      margin: rems(5) auto;
    }
    
    .button {
      cursor: pointer;
      display: inline-block;
      width: auto;
      margin: 0 auto;
      -webkit-transition: all .7s ease;
      -moz-transition: all .7s ease;
      -ms-transition: all .7s ease;
      -o-transition: all .7s ease;
      transition: all .7s ease;

      &.active {

        .bar {
           background-color: #FFFFFF;
          -webkit-transition: all .7s ease;
          -moz-transition: all .7s ease;
          -ms-transition: all .7s ease;
          -o-transition: all .7s ease;
          transition: all .7s ease;
          margin: rems(11) auto;
    }
          .top {
              -webkit-transform: translateY(rems(15)) rotateZ(45deg);
              -moz-transform: translateY(rems(15)) rotateZ(45deg);
              -ms-transform: translateY(rems(15)) rotateZ(45deg);
              -o-transform: translateY(rems(15)) rotateZ(45deg);
              transform: translateY(rems(15)) rotateZ(45deg);
            }

            .bottom {
              -webkit-transform: translateY(rems(-15)) rotateZ(-45deg);
              -moz-transform: translateY(rems(-15)) rotateZ(-45deg);
              -ms-transform: translateY(rems(-15)) rotateZ(-45deg);
              -o-transform: translateY(rems(-15)) rotateZ(-45deg);
              transform: translateY(rems(-15)) rotateZ(-45deg);
            }

            .middle {
              width: 0;
            }
            
      }
    }

    .nav-right {
      position: fixed;
      left: rems(40);
      top: rems(20);
      z-index: 3;

    .middle {
      margin: 0 auto;
    }
    }
    
    .bar {
      -webkit-transition: all .7s ease;
      -moz-transition: all .7s ease;
      -ms-transition: all .7s ease;
      -o-transition: all .7s ease;
      transition: all .7s ease;
    }

    .move-to-right {
      -webkit-transform: translateX(rems(0));
      -moz-transform: translateX(rems(0));
      -ms-transform: translateX(rems(0));
      -o-transform: translateX(rems(0));
      transform: translateX(rems(0));
      box-shadow: getShadow(sidebar);
    }
    
    nav {
      padding-top: rems(30);
    }

    @include media-breakpoint-up(md) {
      .sidebar{
        width: rems(400);
      }
     }

}