@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);

@function rems($value) {
  @return $value/16 + rem;
}

@function getColor($color) {
  @return map-get($map: $colors, $key: $color);
}

@function getShadow($shadow) {
  @return map-get($map: $shadows, $key: $shadow);
}

// Colors
$color-white: #FFFFFF;
$color-light: #FAFAFA;
$color-grey: #888888;
$color-brown: #B18D5B;
$color-black: #000000;

// $theme-colors: (
//         "white": $color-white,
//         "light": $color-light,
//         "grey": $color-grey,
//         "brown": $color-brown,
//         "black": $color-black,
// );

$colors:(
  green-grass:#397D02,
  green-grass-light:#66CD00,
);

// Body
$body-bg: $color-light;
$body-color: $color-black;

// Misc
$box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;

// Button
$btn-border-radius: 0;
$btn-border-width: 2px;
$btn-font-weight: bold;

$shadows: (
  sidebar:rems(12) rems(0) rems(15) rems(-8) rgba(0, 0, 0, 0.6)
);