#Home{
    .home-img-container{
        height: rems(160);
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: rems(65);
        img{
            width: rems(110);
        }
    }

    .home-container-buttons{
        .btn{
            font-size: rems(14);
            font-weight: normal;
        }
        button{
            width: 50%;
        }
    }

    .home-container-games{
        text-align: center;
        font-size: rems(10);
        .home-games-month{
            background-color: $color-grey;
            color: $color-white;
            font-weight: 600;
            text-align: left;
            padding-left: rems(15);
        }
        .row{
            margin: 0;
            padding-top: rems(15);
            padding-bottom: rems(15);
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                }
            }
            img{
                width: rems(25);
            }
            .home-games-score{
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }
        
    }

    @include media-breakpoint-up(lg) { 
        // .home-container-buttons{
        //     align-items: center;
        //     display: flex;
        //     justify-content: center;
        //     button{
        //         width: 35%;
        //     }
        // }

        .home-container-games{
            font-size: rems(18);
            .row{
     
                img{
                    width: rems(65);
                }
            }
            
        }

    }
}