#Statistics{
    font-size: rems(10);
    margin-top: rems(65);
    color: $color-white;
    font-weight: 600;
    text-align: center;
    .row{
        margin: 0;
    }

    .statistics-title-container{
        margin-bottom: rems(3);
        background-color: $color-grey;
        padding-bottom: rems(6);
        padding-top: rems(6);
    }
    .statistics-info-container{
        padding-top: rems(15);
        padding-bottom: rems(15);
        background-color: getColor(green-grass-light);
        
        align-items: center;
        display: flex;
        justify-content: center;
        .statistics-info-num{
            padding-right: 0;
        }
        .statistics-info-team{
            padding-left: 0;
        }
       
        img{
            width: rems(20);
            margin-right: rems(3);
        }
    }

    @include media-breakpoint-up(lg) { 
        font-size: rems(18);
        .statistics-info-container {
            .statistics-info-num{
                padding-right: rems(15);
            }
            .statistics-info-team{
                padding-left: rems(15);
            }
            img {
                width: rems(65);
                margin-right: rems(5);
            }
        }
    }
}